@import "./var.styl"

section {
  color: #3f536e;
  font-size: 14px;
  font-family "Microsoft YaHei UI"
  .demo-block{
    padding: 32px;
    border: 1px solid $color-border;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    margin-top: 16px;
  }
  hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 2px solid #d6d9dc;
  }
  p {
    line-height: 1.3;
    color: #3f536e;
    font-size: 14px;
    padding: 0;
  }
  h1 {
    font-size: 28px;
  }
  h1,h2,h3,h4,h5{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 600;
    color: #1f2f3d;
  }
  h2 {
    font-size: 18px;
  }
  h3{
    font-size: 22px;
  }
  ul {
    margin: 16px 0;
    padding-left: 24px;
    list-style: disc;
    li {
      line-height: 1.8;
    }
  }
  tag {
    margin: 0 5px;
    background-color: #ecf5ff;
    display: inline-block;
    height: 24px;
    padding: 0 10px;
    line-height: 22px;
    font-size: 10px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    }
  pre {
    margin: 16px 0;
    padding: 16px;
    background-color: #F7F7F7;
    overflow: auto;
    code {
      font-family: Menlo,Monaco,Consolas,Courier,monospace;
      padding: 0;
      font-size: 14px;
      line-height: 1.6;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }
  code {
    color: #5e6d82;
    background-color: #e6effb;
    margin: 0 4px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    height: 18px;
    line-height: 18px;
  }
  code.code_inline {
    padding: 0 .5em;
  }
  img {
    vertical-align: middle;
  }
  p+p {
    margin-top: 8px;
  }
  a {
    color: #d8d8d8;
  }
  table.table {
    width: 100%;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border-collapse: collapse;
    overflow: auto;
    margin-bottom: 50px;
    th {
        color: #333;
        border-bottom: 1px solid #d8d8d8;
        padding: 15px;
        max-width: 250px;
        text-align: left;
    }
    td{
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      padding: 20px 15px;
    }
  }
}

.highlight {
    p {
        margin: 20px 0;
        line-height: 2;
        color: #3f536e;
        font-size: 14px;
        padding: 20px;
        border-radius: 8px;
        background: #fff;
        border: 1px solid #eaeaea;
    }
}